{
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80
}
